:root {
  --blue: #277da1ff;
  --saffron: #f9c74fff;
  --green: #43aa8bff;
  --carrot-orange: #f8961eff;
  --imperial-red: #f94144ff;
  --paynes-gray: #577590ff;
  --dark-cyan: #4d908eff;
  --coral: #f9844aff;
  --pistachio: #90be6dff;
  --orange-crayola: #f3722cff;
}

* {
  margin: 0;
  padding: 0;
}

.body {
  height: 100dvh;
  max-width: 100dvw;
  display: grid;
  grid-template-areas:
    "nav"
    "head"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.8fr 6fr 1fr;
}

.nav {
  border-bottom: 4px solid var(--saffron);
  grid-area: nav;
}

.burgerMenu {
  margin: 10px;
  border: 2px solid var(--paynes-gray);
  color: var(--paynes-gray);
  border-radius: 8px;
}

.head {
  margin: auto;
  color: var(--imperial-red);
  /*border: 2px solid red;*/
  grid-area: head;
}

.main {
  display: flex;
  flex-direction: column;
  /*border: 3px solid green;*/
  grid-area: main;
}

.footer {
  border: 2px solid burlywood;
  grid-area: footer;
}

@media (max-width: 500px) {
  .body {
    display: grid;
    grid-template-areas:
      "nav"
      "head"
      "main";
    grid-template-rows: 0.25fr 0.4fr auto;
  }
}
